<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolboardapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SchoolBoardApp">

        <!-- 🔐 Register/Login -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />

        <!-- 🏠 Home & Profile -->
        <activity android:name=".NewHomeActivity" />
        <activity android:name=".StudentProfileActivity" />

        <!-- 📅 Appointments -->
        <activity android:name=".AppointmentsActivity" />

        <!-- 💼 Services -->
        <activity android:name=".ServicesHubActivity" />
        <activity android:name=".ServiceDetailActivity" />

        <!-- 🚀 Onboarding should be first screen -->
        <activity android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🎉 Events Page -->
        <activity android:name=".EventsActivity" />
        <!-- Profile Page -->
        <activity android:name=".ProfileActivity" />

        <activity android:name=".MapActivity" />



    </application>
</manifest>
